In [ ]:
pip install -U scikit-learn scipy matplotlib
pip install sklearn

In [7]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/9e/71/756a1be6bee0209d8c0d8c5e3b9fc72c00373f384a4017095ec404aec3ad/pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\william\anaconda3\envs\ai-toolkit\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
      --------------------------------------- 10.2/502.3 kB ? eta -:--:--
     ---- -------------------------------- 61.4/502.3 kB 825.8 kB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 4.5 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\william\anaconda3\envs\ai-toolkit\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\william\anaconda3\envs\ai-toolkit\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.1/10.6 MB 35.3 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.6 MB 26.7 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.6 MB 22.0 MB/s eta 0:00:01
   -------------- ------------------------- 3.9/10.6 MB 25.0 MB/s eta 0:00:01
   ----------------- ---------------------- 4.6/10.6 MB 21.2 MB/s eta 0:00:01
   ---------------------- ----------------- 5.8/10.6 MB 22.0 MB/s eta 0:00:01
   ------------------------- -------------- 6.7/10.6 MB 21.5 MB/s eta 0:00:01
   ---------------------------- ----------- 7.4/10.6 MB 20.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.3/10.6 MB 20.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.6 MB 20.0 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.6 MB 20.0 MB/s eta 0:00:01
   --------------------------------- ------ 8.9/10.6 MB 16.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.6 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 10.9 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sklearn import tree

In [8]:
import numpy as np
import pandas as pd

The following code imports the dataset

In [9]:
path = "https://storage.googleapis.com/download.tensorflow.org/data/palmer_penguins/penguins.csv"
pandas_dataset = pd.read_csv(path)

# Display the first 3 examples.
pandas_dataset.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

The following code manually converts the penguin species into integer labels

In [10]:
label = "species"

classes = list(pandas_dataset[label].unique())
print(f"Label classes: {classes}")
# >> Label classes: ['Adelie', 'Gentoo', 'Chinstrap']

pandas_dataset[label] = pandas_dataset[label].map(classes.index)

Label classes: ['Adelie', 'Gentoo', 'Chinstrap']

Split the data into testing and training sets

In [11]:
np.random.seed(1)
# Use the ~10% of the examples as the testing set
# and the remaining ~90% of the examples as the training set.
test_indices = np.random.rand(len(pandas_dataset)) < 0.1
pandas_train_dataset = pandas_dataset[~test_indices]
pandas_test_dataset = pandas_dataset[test_indices]

print("Training examples: ", len(pandas_train_dataset))
print("Testing examples: ", len(pandas_test_dataset))

Training examples:  309
Testing examples:  35

In [16]:
pandas_train_dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,0,Torgersen,39.5,17.4,186.0,3800.0,female,2007
3,0,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,0,Torgersen,36.7,19.3,193.0,3450.0,female,2007
6,0,Torgersen,38.9,17.8,181.0,3625.0,female,2007
...,...,...,...,...,...,...,...,...
339,2,Dream,55.8,19.8,207.0,4000.0,male,2009
340,2,Dream,43.5,18.1,202.0,3400.0,female,2009
341,2,Dream,49.6,18.2,193.0,3775.0,male,2009
342,2,Dream,50.8,19.0,210.0,4100.0,male,2009
343,2,Dream,50.2,18.7,198.0,3775.0,female,2009